extends layout

block content    
  script(src='/javascripts/common_function.js')
  script(src='/javascripts/card.js')
  script(src='/javascripts/chip.js')
  script(src='/javascripts/chat.js')
  script(src='/javascripts/poker.js')
    
  - if(!isSuccess)
    script.
      alert('방에 입장할 수 없습니다.');
      location.href = '/enter';
  - else
    input#user_id(type='hidden', value='#{user_id}')
    input#nick(type='hidden', value='#{nickName}')
    input#room_id(type='hidden', value='#{roomid}')
    input#isMaster(type='hidden', value='#{isMaster}')
    #title_and_leave_button    
      #roomName.room_title_in_room= roomName    
      #leave.leave_button 나가기
    .clear
    #user_nick_box
      span.left.nick_box#my_nick
      span.left.win_lose_box#my_win_lose_box
      span.right.nick_box#your_nick
      span.right.win_lose_box#your_win_lose_box
    .clear
    #game_wrapper
      #my_state.state.left(isready='no') ready
      .emptybox.left
      #your_state.state.left . . .
      .clear    
      #my_card_box.left.card_box
      #betting_box.left.betting_box
      #your_card_box.left.card_box
      .clear  
      #my_chip_box.chip_box.left
      #chat_box.chat_box.left        
      #your_chip_box.chip_box.left
      .clear      
      form#chat_form          
        input(type='text')#message
        input(type='submit', value='enter')
      